:root {
  /* Colors */
  --color-bg: #d9d9d9;
  --color-text: #2c2c28;
  --color-primary: #f5f5f5;
  --color-secondary: #2197bd;
  --color-accent: #5ce1e6;

  --color-dark: #222222;
  --color-light: #ffffff;

  /* Typography */
  --font-base: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;

  /* Spacing */
  --space-xsm: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;

  /* Radius, Shadows */
  --radius-sm: 8px;
  --radius-lg: 50px;

  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 6px 20px rgba(0, 0, 0, 0.12);
  --shadow-lg-accent: 0 6px 20px rgba(92, 225, 230, 0.4);

  /* Borders */
  --border-sm: 2px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  font-size: var(--text-base);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

/* footer */
.footer {
  padding: var(--space-sm);
  width: 100%;
  min-width: 95vw;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer h1 {
  color: var(--color-accent);
  font-family: var(--font-heading);
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  line-height: 2;
}

.footer p {
  font-family: var(--font-base);
  font-weight: 600;
  margin-top: var(--space-xsm);
  max-width: 40vw;
  line-height: 1.6;
}

.footer img {
  width: 60px;
  border-radius: 50%;
}

.right_footer {
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  gap: var(--space-lg);
  border-left: 2px solid var(--color-accent);
  padding-left: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

.socials {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  border-top: 2px solid var(--color-accent);
  padding-top: 10px;
}

.socials img {
  width: 40px;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.socials img:hover {
  scale: 1.1;
  cursor: pointer;
}

.stack h3 {
  font-family: var(--font-heading);
  font-size: var(--text-base);
  text-align: start;
  justify-content: baseline;
  font-weight: 600;
}

.stack span {
  font-family: var(--font-base);
  font-size: var(--text-lg);
  color: var(--color-accent);
  margin-left: var(--space-xsm);
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  text-underline-offset: 2px;
  font-weight: 500;
}

/* MAIN LAYOUT */
.processor-container {
  display: flex;
  gap: var(--space-md);
  padding: var(--space-md);
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

/* LEFT CONTROL PANEL */
.controls-box {
  background: var(--color-secondary);
  padding: var(--space-md);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-light);
  box-shadow: var(--shadow-lg-accent);
  color: var(--color-primary);
  flex: 1;
  text-align: end;
  min-width: 250px;
  max-width: 320px;
}

.controls-box h2 {
  color: var(--color-light);
  font-family: var(--font-heading);
  font-size: var(--text-3xl);
  margin-bottom: var(--space-sm);
}

.label {
  margin-bottom: var(--space-xs);
  font-size: var(--text-lg);
  font-weight: 600;
  font-family: var(--font-base);
}

select,
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-light);
  background: var(--color-primary);
  margin-bottom: var(--space-sm);
  font-size: var(--text-base);
}

/* Slider value */
.slider-value {
  font-weight: 600;
}

/* RIGHT IMAGE PANEL */
.preview-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: flex-start;
  /* padding: var(--space-sm); */
  padding-bottom: 300px;
}

.preview-block {
  text-align: center;
}

.preview-block h3 {
  margin-bottom: var(--space-xs);
}

.preview-block img {
  width: 400px;
  max-width: 100%;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--color-primary);
}

/* FILE UPLOAD STYLING */
.file-upload input[type="file"] {
  display: none;
}

.file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-md);
  background: var(--color-light);
  color: var(--color-secondary);
  font-family: var(--font-heading);
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-weight: 600;
  border: 1px solid var(--color-light);
  margin-bottom: var(--space-sm);
  transition: all 0.2s ease;
}

.file-upload:hover {
  background: var(--color-accent);
  color: var(--color-dark);
}

.btn-download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  text-align: center;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-light);
  color: var(--color-secondary);
  font-family: var(--font-heading);
  font-weight: 600;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  margin-top: var(--space-sm);
  transition: all 0.2s ease;
}

.btn-download:hover {
  background: var(--color-accent);
  color: var(--color-dark);
}

/* RESPONSIVE */
@media (max-width: 850px) {
  .footer {
    gap: var(--space-md);
  }

  .stack {
    display: none;
  }

  .footer p {
    max-width: 100%;
  }

  .processor-container {
    flex-direction: column;
    align-items: center;
  }

  .controls-box {
    text-align: start;
    width: 100%;
    max-width: 400px;
  }

  .preview-panel {
    width: 100%;
  }
}

/* Slider container */
.slider-box {
  width: 100%;
  margin: var(--space-sm) 0;
}

/* Base slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-primary);
  border-radius: var(--radius-sm);
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Track when active */
input[type="range"]:hover {
  background: var(--color-accent);
}

/* Chrome / Edge / Safari Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: var(--color-secondary);
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  box-shadow: var(--shadow-lg);
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Thumb hover effect */
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color-accent);
  border-color: var(--color-secondary);
  transform: scale(1.1);
}

/* Firefox Thumb */
input[type="range"]::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: var(--color-secondary);
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  box-shadow: var(--shadow-lg);
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--color-accent);
  transform: scale(1.1);
} 

/* Firefox Track */
input[type="range"]::-moz-range-track {
  height: 6px;
  background: var(--color-primary);
  border-radius: var(--radius-sm);
}

@media (max-width: 1000px) {
  :root {
    --text-xs: 0.5rem; /* 12px */
    --text-sm: 0.75rem; /* 14px */
    --text-base: 0.85rem; /* 16px */
    --text-lg: 1.1rem; /* 18px */
    --text-xl: 1.125rem; /* 24px */
    --text-2xl: 1.5rem; /* 32px */
    --text-3xl: 2rem; /* 40px */
    --text-4xl: 2.5rem; /* 48px */
  }
}

@media (max-width: 440px) {
  :root {
    --text-xs: 0.25rem;
    --text-sm: 0.5rem;
    --text-base: 0.75rem;
    --text-lg: 0.85rem;
    --text-xl: 1rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.5rem;
    --text-4xl: 2rem;

    --space-xsm: 0.125rem;
    --space-xs: 0.25rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
  }
}
